<h1>Rezervace</h1>
<%= render 'calendar' %>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Zacatek</th>
        <th>Konec</th>
        <th>Email</th>
        <th>Akce</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.start_date.strftime("%d %B") %></td>
          <td><%= reservation.end_date.strftime("%d %B") %></td>
          <td><%= reservation.user.email %></td>
          <td>
            <% if current_user.is_admin  || @reservation.user == current_user%>
              <%= button_to 'Delete', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>